html {
  overflow-y: scroll;
}

body, html {
  height: 100%;
  font-family: 'Lora', Arial, Helvetica, sans-serif;
  color: @color;
  background: @back;
  font-style: italic;
  text-shadow: 1px 1px rgba(0,0,0,.2);
}

body {
  -webkit-backface-visibility: hidden;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

#main-wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -@footerHeight;
  /* Pad bottom by footer height */
  padding: 90px 0 @footerHeight;

  > .container {
    padding: 60px 15px 0;
  }
}

.width_100 {
  display: inline-block;
  width: 100%;
  float: left;
}


.back {
  margin: 0 0 15px;
  overflow: hidden;
  width: 105px;
  transition: width .7s, color .3s;
  cursor: pointer;
  display: inline-block;

  i {
    white-space: nowrap;
  }

  &__txt {
    display: inline-block;
    margin: 0 0 0 3px;
    font-size: 16px;
    font-style: italic;
    font-family: 'Lora',Arial,Helvetica,sans-serif;
  }

  &:hover {
    width: 100%;
    color: #FFFFFF;
  }
}


.strong {
  font-weight: 700;
}

.list-indent {
  li {
    margin-bottom: 5px;
  }
}

.panel-title {
  cursor: pointer;
}

.underlined {
  text-decoration: underline;
}

@keyframes pulsate {
  0% {
    opacity: .5
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: .5
  }
}

.scroller {
  position: fixed;
  padding: 5px;
  right: 5%;
  z-index: 99;
  bottom: 45px;
  cursor: pointer;
  display: none;

  i {
    font-size: 30px;
    color: @back-dark;
    transition: all .3s;
  }

  &:hover {
    i {
      color: @bright;
    }
  }

  @media @tablet {
    right: 15px;
  }
}

.cmn-toggle-switch {
  display: none;
  position: relative;
  overflow: hidden;
  margin: 8px 15px 8px 0;
  padding: 0;
  width: 38px;
  height: 34px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  float: right;

  @media @tablet-less {
    display: block;
  }
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 16px;
  left: 7px;
  right: 7px;
  height: 3px;
  background: white;
  border-radius: 2px;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  border-radius: 2px;
}

.cmn-toggle-switch span::before {
  top: -8px;
}

.cmn-toggle-switch span::after {
  bottom: -8px;
}

.cmn-toggle-switch__htx {
  background-color: @bright;
}

.cmn-toggle-switch__htx span {
  transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  transition-property: bottom, transform;
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  transition-delay: 0, 0.3s;
}

.rotate {
  transition: all .5s ease-in-out;
  transform: rotateY(360deg);
  color: @bright;

  &.white {
    color: #ffffff;
  }
}

.rotateSecond {
  transition: all 1s;
  transform: rotateY(-180deg);
}

.navbar-brand {
  span {
    font-size: 20px;
    font-weight: 700;
    float: left;
  }

  &:hover {
    color: #ffffff;
  }
}


















