<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="index" letters-rotator title="На главную!">
        <span>L</span>
        <span>o</span>
        <span>g</span>
        <span>o</span>
        <span>&nbsp;</span>
        <span>S</span>
        <span>a</span>
        <span>m</span>
        <span>p</span>
        <span>l</span>
        <span>e</span>
      </a>
      <button class="cmn-toggle-switch cmn-toggle-switch__htx" menu-trigger data-toggle="collapse"
              data-target=".navbar-collapse">
        <span>toggle menu</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav pull-right with-shining">
        <li ui-sref-active="active">
          <a ui-sref="index">Главная</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="contacts">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
