/* Set the fixed height of the footer here */
#footer-main {
  height: @footerHeight;
  background: @back-dark;
  box-shadow: inset 0 0 5px 2px rgba(0,0,0,.25);
}

.copy {
  margin: 0 auto;
  line-height: 35px;
  text-align: center;
}

.admin {
  line-height: 35px;

  &:hover {
    text-decoration: none;
  }
}

.develop {
  float: right;
  font-size: 12px;
  margin: 4px 0 0;
  color: darken(#FFF, 10%);

  a {
    transition: all .3s;
    color: darken(#FFF, 10%);
    display: inline-block;
    margin-left: 5px;
    line-height: 30px;

    &:hover {
      color: #2ea1f6;
      text-decoration: none;
    }
    &:active,
    &:focus {
      color: #2a94e2;
      text-decoration: none;
    }

    @media @mobile {
      font-size: 9px;
    }
  }

  span {
    @media @mobile {
      display: none;
    }
  }


  i {
    font-size: 26px;
    vertical-align: -6px;

    @media @mobile {
      font-size: 20px;
    }
  }
}
